<main class="index">

    <header class="masterhead d-flex">

        </div>
        <div class="container text-center my-auto">

            <h1 class="mb-1">
                Seguimiento de Horas
            </h1>
            <h3 class="mb-5">
                <em>Carga de Obras y Horas trabajadas</em>
            </h3>
            <a href="/login/signin" class="btn btn-primary">Inicie sesión</a>
        </div>
    </header>

</main>