<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Carga de Horas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                {{#if user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Obras
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/obras">Todas la obras</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/obras/add">Agregar Obra</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="/login/profile" class="nav-link">Perfil</a>
                </li>
                <li class="nav-item">
                    <a href="/login/logout" class="nav-link">Cerrar Sessión</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a href="/login/signin" class="nav-link">Iniciar Sessión</a>
                </li>
                <li class="nav-item">
                    <a href="/login/signup" class="nav-link">Crear Usuario</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>